.headerContainer {
    height: 75px;
    background-color: var(--nav);
}

.headerConteudo {
    max-width: 1280px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerNav {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            color: var(--textoNav);
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                color: var(--textoNavHover);
                transition: color 0.8s;
            }
        }

        button {
            border: 0;
            background-color: transparent;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* Ícone de menu hamburguer */
.icon {
    display: none;
    cursor: pointer;
    font-size: 24px; /* Ajuste o tamanho do ícone */
    color: var(--textoNav);
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    transition: transform 0.8s;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1024px) {
    .headerConteudo {
        .headerNav {
            display: none;
        }

    }

    .icon {
        display: block;
    }

}
.headerConteudo {

.showMenu {
    display: flex !important; 
    flex-direction: column; 
    background-color: var(--nav); 
    height: 500px;
    gap: 10px; 
    padding: 20px;
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 75px; 
    right: 0; 
    border-radius: 8px;
    overflow-y: auto; 
}
}
