.inputPlanejamento {
    height: 30px;
    width: 100%;
    border: 1px solid var(--bordas);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
  }

  .inputPesquisaSelectForm {
    height: 34px;
    min-width: 230px;
    border: 1px solid var(--bordas);
    border-radius: 4px;
    padding: 0px;
    font-size: 16px;
  }
