.conteinerCentral{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.login{
  margin-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:   16px;
  width: 318px;
  border-radius: 4px;
  background-color: var(--subfundo);
  
  .toplogin {
    max-width: 318px;
  }

  form{
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  form button{
    height: 40px;
    font-size: 16px;
    background-color: var(--btnlogin);
    border: 1px solid var(--bordas);
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.5s;
  }

  form input{
    height: 40px;
    border: 1px solid var(--bordas);
    border-radius: 4px;
    padding: 16px;
    font-size: 20px;
  }  

  form button:hover{
    transform: scale(1.03);
    color: #fff;
  }
}

.dados {
  max-width: 1250px;
  min-height: 90vh;
  margin: 0 auto;
  padding: 0 16px; 
  display: flex;
  flex-direction: column;
  background-color: var(--fundodados);
  padding-bottom: 16px;
}

.titulo{
  width: 100%;
  height: 47px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 16px; 
  display: flex;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barraFuncoes{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 16px; 
  display: flex;
  flex-direction: row;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.btn{
  height: 30px;
  font-size: 16px;
  border: 1px solid var(--bordas);
  padding: 5px;
  margin: 5px;  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s;  
}

.btn.incluir {
  background-color: var(--btnincluir);
}
.btn.imprimir {
  background-color: var(--btnImprimir);
}
.btn.alterar {
  background-color: var(--btnalterar);
}
.btn.excluir {
  background-color: var(--btnexcluir);
}

.btn:hover{
  transform: scale(1.03);
  color: var(--textoNavHover);
}

.inputPesquisa {
  height: 30px;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
}

.inputPesquisaSelect {
  height: 34px;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  padding: 0px;
  font-size: 16px;
  margin-right: 10px;
}
.inputPesquisaSelectForm {
  height: 34px;
  min-width: 230px;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  padding: 0px;
  font-size: 16px;
}

.listaSistemas {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  max-width: 230px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.listaSistemas li {
  padding: 8px;
  cursor: pointer;
}

.listaSistemas li:hover {
  background: #f0f0f0;
}
 
.grid{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: row;
    border: 1px solid var(--bordas);
    border-radius: 4px;
    table {
      margin: 0;
      width: 100%;
      height: auto;
      padding: 0;
      table-layout: fixed;
      border-collapse: collapse;

    }
    table caption{
      font-size: 1.5rem;
      margin: 0.5em 0 0.75em;
    }
  
    table th{
      background-color: var(--cabecalho);
      padding: 0.6em;
      letter-spacing: 0.1;
      font-weight: bold;
      text-transform: uppercase;   
    }

    table tr{
      border-bottom: 1px solid var(--bordas);
      text-align: center;
    }

    table th:first-child, /* O primeiro <th> (ID) */
    table td:first-child { /* O primeiro <td> (ID) */
        width: 100px;
        text-align: center;
    }

    table th:last-child, /* O primeiro <th> (ID) */
    table td:last-child { /* O primeiro <td> (ID) */
        width: 150px;
        text-align: center;
    }
}

.conteudoHtml {
  width: 100%;
  max-width: 100%; // Garante que o conteúdo não ultrapasse a largura do contêiner
  overflow-x: auto; // Adiciona barra de rolagem horizontal se necessário
  word-wrap: break-word; // Faz o texto quebrar a linha em palavras longas
  img {
    max-width: 100%; // Torna imagens dentro do HTML responsivas
    height: auto;    // Mantém a proporção da imagem
  }
  table {
    width: 100%; // Faz tabelas ocuparem toda a largura disponível
    overflow-x: auto; // Evita que tabelas quebrem o layout
  }
  iframe {
    max-width: 100%; // Garante que vídeos e iframes sejam responsivos
    height: auto;
  }
}

.gridCadastros{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  .checks{
    justify-content: space-between;
    display: flex;

  }


  .cabecalhoFormCadastro{
    border: 1px solid var(--bordas);
    border-radius: 4px;
    width: 100%;
    padding: 3px;
  }

  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
}

.formCadastro{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding: 16px; 
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  align-items: center;
  justify-content: Center;
  gap: 0.3em;

  div{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.error {
  align-items: center;
  p{
    color: red;

  }

}
@media (max-width: 620px){
  .login{
    width: 90%;
  }
  .titulo{
    size: 50%;
    font-size: 80%;
  }

  .barraFuncoes{
    width: 100%;
    height: auto;
    padding: 0.2em;
  }
  .inputPesquisa{
    margin-top: auto;
  }

  .grid{
    table{
      border: 0;
    }
    table caption{
      font-size: 1.3em;
    }
    table thead{
      border: none;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 1px solid var(--bordas);
      display: block;
      margin-bottom: 0.60em;
    }

    table td {
      border-bottom: 1px solid var(--bordas);
      display: block;
      text-align: right;
      padding: 3px;
    }

    table td::before{
      content:attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table th:first-child,
    table td:first-child,
    table th:last-child,
    table td:last-child {
      width: auto;
      text-align: right;
    }
  }

}
@media print {
  .acoes {
    display: none;
  }
  .btn, .inputPesquisa, .inputPesquisaSelect, .barraFuncoes {
    display: none;
  }
}